/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* HEADER */
.background-header{
    background-color: #FF6900;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.my-row{
    display: flex;
}

header .my-row *{
    font-weight: bold;
    color: white;
    font-size: 1em;
}

.col-1, .col-3{
    width: calc(100% / 3);
}

.col-2{
        width: calc((100% / 3) * 2);
}

.col-3{
    text-align: right;
}

.col-2 *{
    display: flex;
    justify-content: center;
    height: 25px;
}

.col-1 *, .col-3 *{
    padding-left: 5px;
    vertical-align: middle;
}


/* MAIN */

main .container{
    margin-top: 50px;
}

.my-rows{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 20px);
    position: relative;
    margin-top: 30px;
}

.col img{
    width: 100%;
    display: block;
}

.col .img-item .img-alternative{
    display: none;
}

.col .img-item:hover .img-alternative{
    display: block;
}

.col .img-item:hover .img-first{
    display: none;
}

.col *{
    color: black;
}

.col .description .price{
    color: red;
}

.col .description .price,
.col .description .item{
    font-weight: bold;
}

.col .price span{
    text-decoration: line-through;
    font-weight: normal;
}

.col .heart{
    background-color: white;
    font-size: 2em;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    top: 10px;
}

.col .heart:hover{
    color: red;
}

.col .icons{
    position: absolute;
    bottom: 90px;
    left: 0;
}

.col .icons *{
    color: white;
    padding: 2px 7px;
    margin-right: 3px;
    background-color: green;
}

.col .icons .discount{
    background-color: red;
}

.middle{
    margin-left: 10px;
    margin-right: 10px;
}



/* FOOTER */
.background-footer{
    background-color: black;
    margin-top: 50px;
}

.background-footer .container .my-row{
    padding: 30px 0;
}

.col-footer-1{
    width: calc(100% / 2);
}

.col-footer-2{
    width: calc(100% / 2);
    text-align: right;
}

footer .my-row *{
    color: white;
}

.col-footer-1 .info *{
    padding-right: 5px;
}


.col-footer-2 .social-icons *{
    font-size: 18px;
    padding-top: 10px;
}

footer .my-row h3{
    padding-bottom: 10px;
}
